<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Spring Security Example </title>
</head>
<body>
<h3 th:text="${message}"/>
<h1>Registration</h1>
<div th:if="${param.error}">
  Invalid username and password.
</div>
<div th:if="${param.logout}">
  You have been logged out.
</div>
    <form action="/auth/register" method="post">
    <input type="text" name="name" placeholder="Name"><br>
      <input type="text" name="surname" placeholder="Surname"><br>
    <input type="email" name="email" placeholder="Email"><br>
      <input type="text" name="password" placeholder="Password"><br>
    <button type="submit">Add</button>
  </form>
</body>
</html>